<div class="body">
    <div class="container1">
        <h1 class="bodyLine">KEOHANE LAW: YOUR TRUSTED ATTORNEY</h1>
        <h5>Your Legal Rights Are My Business</h5>
    </div>
</div>
<div class="bodyContainer">
    <div class="container">
        <div class="grid">
            <div class="g-col-6">
                <h1 class="practiceText">Practice Areas</h1>
                <h6>At Keohane Law I know what I do best. Keohane Law can offer you some of the best legal advice and counsel in
                Massachusetts when it comes to Personal Injury Law, Estate Law and Family Law. I know that every case is unique and
                different, and will apply my in-depth, specialist knowledge to meet your exact needs. Simply put, protecting your rights
                is what I do best.</h6>
            </div>
            <div class="g-col-6">
                <div class="row">
                    <div class="col">.g-col-6</div>
                    <div class="col"><img src="../../../assets/personalinjury.jpeg" alt=""></div>
                </div>
                <div class="row">
                    <div class="col"><img src="../../../assets/divorcelawyer.jpeg" alt=""></div>
                    <div class="col">.g-col-6</div>
                </div>
            </div>
        </div>
    </div>
</div>
