<div class="body">
    <div class="container1">
        <h1 class="bodyLine">KEOHANE LAW: YOUR TRUSTED ATTORNEY</h1>
        <h5>Your Legal Rights Are My Business</h5>
    </div>
</div>
<div class="bodyContainer">
    <div class="container">
        <div class="grid">
            <div class="g-col-6">
                <h1 class="practiceText">Practice Areas</h1>
                <h6>At Keohane Law I know what I do best. Keohane Law can offer you some of the best legal advice and counsel in
                Massachusetts when it comes to Personal Injury Law, Estate Law and Family Law. I know that every case is unique and
                different, and will apply my in-depth, specialist knowledge to meet your exact needs. Simply put, protecting your rights
                is what I do best.</h6>
            </div>
            <div class="g-col-6">
                <div class="row">
                    <div class="col">
                        <h1 class="laws">PERSONAL INJURY LAW</h1>
                        <p>I’ve been practicing Personal Injury Law for years, with dozens of successful cases to my name. My Massachusetts clients
                        can count on my Personal Injury Law expertise to manage the legal framework supporting their endeavors. When I am
                        involved in a case, I help my client successfully resolve it as quickly and efficiently as possible</p></div>
                    <div class="col"><img src="../../../assets/personalinjury.jpeg" alt=""></div>
                </div>
                <div class="row">
                    <div class="col"><img src="../../../assets/divorcelawyer.jpeg" alt=""></div>
                    <div class="col">
                        <h1 class="laws">FAMILY LAW</h1>
                        <P>Let Keohane Law be the solution for your Family Law needs. By combining a fundamental understanding of the big picture
                        with the complexity of daily interactions and experiences, Keohane Law provides proactive solutions to a diversity of
                        clients.</P>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1 class="laws">ESTATE LAW</h1>
                        <p>Got a Estate Law case on your hands? I am ready to help. Keohane Law has the legal knowledge, skills, and experience to
                        advise clients on Estate Law matters in Massachusetts. I am proud to extend my professional services to help all of my
                        clients resolve their legal matters.</p>
                    </div>
                    <div class="col"><img src="../../../assets/realestatelaw.webp" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>
